{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'group_project/style.css' %}" />
<html>
<head>
	<title>MY First Web Page</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<h1>My First Website</h1>
<div id="header">
	<h4>Member 1: Faisal Fiaz </h4>
    <img src="{% static 'images/abc.jpg' %}" >
    <p>My name is Faisal Fiaz. I have done my Bachelor in Computer Science from Pakistan.
        During my studies, in Pakistan, I worked as Network and Database. In my BS project I developed ‘Food Chains ‘Online Help System Using Web Android Base Application.
        Where I used Java, C++, Andriod for this project. During my studies I did internships as Network and Database Administrator at GCA solutions. Where my job tasks were to develop, set-up and maintain the company's computer networks, including intranet and Internet networks.
        There I got interest in Linux and networking.  After my graduation, I got opportunity to work with <a href="http://icawgames.com" target="_blank">ICAW</a> IT Solutions, a leading Game development company where I worked as game developer.
        I worked there for two years. We worked in team in Agile work flow, where I got opportunity to work with designing, developing, testing.
        I chose Uppsala university as my Master in Computer science after consultation with my professors from university and brother as they have very interesting up-to-date curriculum.
    </p>
    <ul>
	<a href="https://www.facebook.com/faisal.fiaz.5" target="_blank" ><li>Contact</li></a>
</ul>
    <h4>Member 2: Hamid kisha </h4>
      <img src="{% static 'images/hamid.jpg' %}" >
    <p>My name is Faisal Fiaz. I have done my Bachelor in Computer Science from Pakistan.
        During my studies, in Pakistan, I worked as Network and Database. In my BS project I developed ‘Food Chains ‘Online Help System Using Web Android Base Application.
        Where I used Java, C++, Andriod for this project. During my studies I did internships as Network and Database Administrator at GCA solutions. Where my job tasks were to develop, set-up and maintain the company's computer networks, including intranet and Internet networks.
        There I got interest in Linux and networking.  After my graduation, I got opportunity to work with <a href="http://icawgames.com" target="_blank">ICAW</a> IT Solutions, a leading Game development company where I worked as game developer.
        I worked there for two years. We worked in team in Agile work flow, where I got opportunity to work with designing, developing, testing.
        I chose Uppsala university as my Master in Computer science after consultation with my professors from university and brother as they have very interesting up-to-date curriculum.
    </p>
    <ul>
	<a href="https://www.facebook.com/hamid.mohammed.87" target="_blank" ><li>Contact</li></a>
</ul>
      <h4>Member 3: Ibrahim Hersi</h4>
      <img src="{% static 'images/ibarhim.jpg' %}" >
    <p>My name is Faisal Fiaz. I have done my Bachelor in Computer Science from Pakistan.
        During my studies, in Pakistan, I worked as Network and Database. In my BS project I developed ‘Food Chains ‘Online Help System Using Web Android Base Application.
        Where I used Java, C++, Andriod for this project. During my studies I did internships as Network and Database Administrator at GCA solutions. Where my job tasks were to develop, set-up and maintain the company's computer networks, including intranet and Internet networks.
        There I got interest in Linux and networking.  After my graduation, I got opportunity to work with <a href="http://icawgames.com" target="_blank">ICAW</a> IT Solutions, a leading Game development company where I worked as game developer.
        I worked there for two years. We worked in team in Agile work flow, where I got opportunity to work with designing, developing, testing.
        I chose Uppsala university as my Master in Computer science after consultation with my professors from university and brother as they have very interesting up-to-date curriculum.
    </p>
    <ul>
	<a href="https://www.facebook.com/ibrahim.hersi.3" target="_blank" ><li>Contact</li></a>
</ul>
      <h4>Member 4: Zeeshan Ahmed  </h4>
      <img src="{% static 'images/zeeshan.jpg' %}" >
    <p>My name is Faisal Fiaz. I have done my Bachelor in Computer Science from Pakistan.
        During my studies, in Pakistan, I worked as Network and Database. In my BS project I developed ‘Food Chains ‘Online Help System Using Web Android Base Application.
        Where I used Java, C++, Andriod for this project. During my studies I did internships as Network and Database Administrator at GCA solutions. Where my job tasks were to develop, set-up and maintain the company's computer networks, including intranet and Internet networks.
        There I got interest in Linux and networking.  After my graduation, I got opportunity to work with <a href="http://icawgames.com" target="_blank">ICAW</a> IT Solutions, a leading Game development company where I worked as game developer.
        I worked there for two years. We worked in team in Agile work flow, where I got opportunity to work with designing, developing, testing.
        I chose Uppsala university as my Master in Computer science after consultation with my professors from university and brother as they have very interesting up-to-date curriculum.
    </p>
    <ul>
	<a href="https://www.facebook.com/zee2790" target="_blank" ><li>Contact</li></a>
</ul>
<h6>WEB PAGE MADE BY <div1 id= "head">[FAISAL FIAZ]</div1></h6>
</body>
</html>
